<html>
{% extends 'admin/base_site.html' %}
{% load i18n %}

<div id="header">
    <div id="branding">
    {% block branding %}<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('TARA Dashboard') }}</a></h1>{% endblock %}
    </div>
    {% block usertools %}
    <div id="user-tools">
        {% block welcome-msg %}
            {% trans 'Welcome,' %}
            <strong>{% firstof user.get_short_name user.get_username %}</strong>.
        {% endblock %}
        {% block userlinks %}
                <a href="/">{% trans 'View site' %}</a> /
            {% if user.is_active and user.is_staff %}
                {% url 'django-admindocs-docroot' as docsroot %}
            {% endif %}
            {% if user.has_usable_password %}
            <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
            {% endif %}
            <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
        {% endblock %}
    </div>
    {% endblock %}
    {% block nav-global %}{% endblock %}
</div>
{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    <a href="/admin/lesson/">{% trans '› Lesson' %}</a>
    <a href="/admin/lesson/standards">{% trans '› Standards' %}</a>
    › ImportCSV
    </div>
    {% endblock %}
{% block content %}
    <head>
    <style> 
            button[type=submit]{
            background: #79AEC8!important;;
            border: none;
            color: white;
            padding: 10px 10px;
            text-decoration: none;
            margin: 4px 2px;
            margin-left: 75%;
            cursor: pointer; 
            }
            input{
                margin-left: 5%;
            }
    </style>
</head>
    <div>
        <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <hr>
            <p><p><button type="submit">Upload CSV</button></p></p>
            <hr>
        </form>
    </div>
    <br />
{% endblock %}
</html>